<!DOCTYPE html>
<html data-ng-app="mainApp">
    <head>

        <!-- Define the base of the application -->
        <base href="/">

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

        <!-- Lets get rid of old explorers. I don't want to spend any more nimute coding for them -->
        <!--[if lte IE 9]>
            <meta http-equiv="refresh" content="0; http://www.ie6countdown.com/">
        <![endif]-->

    </head>
    <body>

        <section>
            <form name="facebook_page_form" action="" method="post" enctype="multipart/form-data">
                <h1>Enter a Facebook page url or name</h1>
                <input type="text" name="string"/>
                <button type="submit">Check</button>
            </form>
        </section>

        <section>
            <a href="http://www.python.org/" target="_blank"><img width="100" src="/assets/img/python.png" title="Uses Python"/></a>
            <a href="https://cloud.google.com/" target="_blank"><img width="150" src="/assets/img/google_cloud_platform.png" title="Uses Google Cloud Platform"/></a>
        </section>

    </body>
</html>