<!DOCTYPE html>
<html data-ng-app="mainApp">
    <head>

        <!-- Define the base of the application -->
        <base href="/">
        <title>Facebook ID Finder</title>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

        <meta name="description" content="Find the Facebook numerical ID of a Page, Person, APP">
        <meta name="keywords" content="Facebook ID, Facebook, Facebook Page, Facebook Person, Facebook App">
        <meta property="og:url" content="http://facebook-id-finder.appspot.com/" />
        <meta property="og:title" content="Facebook ID Finder" />
        <meta property="og:type" content="website" />
        <meta property="og:description" content="Find the Facebook numerical ID of a Page, Person, APP"/>
        <meta property="og:site_name" content="Facebook ID Finder" />

         <!-- Fonts from google -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700&amp;subset=cyrillic-ext' rel='stylesheet' type='text/css'>


        <!-- Lets get rid of old explorers. I don't want to spend any more nimute coding for them -->
        <!--[if lte IE 9]>
            <meta http-equiv="refresh" content="0; http://www.ie6countdown.com/">
        <![endif]-->

    </head>
    <style>
        input, button, h1{
            font-size: 200%;
            font-family: "Open Sans";
        }
    </style>
    <body>

        <section>
            <form name="facebook_page_form" action="" method="post" enctype="multipart/form-data">
                <h1>Enter a Facebook page url or name</h1>
                <input type="text" name="string" placeholder="http://www.facebook.com/YourProfileName"/>
                <button type="submit">Check</button>
            </form>
        </section>

        <section>
            <a href="http://www.python.org/" target="_blank"><img width="100" src="/assets/img/python.png" title="Uses Python"/></a>
            <a href="https://cloud.google.com/" target="_blank"><img width="150" src="/assets/img/google_cloud_platform.png" title="Uses Google Cloud Platform"/></a>
        </section>

        <section>
            <a href="https://github.com/jimmykane/facebook-id-finder"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png" alt="Fork me on GitHub"></a>
        </section>

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-46981929-1', 'facebook-id-finder.appspot.com');
            ga('send', 'pageview');

        </script>
    </body>
</html>